@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
html, body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  background-color: #000;
  color: #fff;
}

